<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Noleggio Auto</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbar('Auto')}"></nav> 
    <div class="container" th:object="${auto}" th:unless="${empty}">
            <h1 th:text="*{brand}"></h1>
            <h2 th:text="*{model}"></h2> 
            <!-- | serve per concatenare -->
            <hr/>
            <div class="row">
                <div class ="col-8">
                    <dl>
                        <dt>Brand</dt>
                        <dd th:text="*{brand}"></dd>
                        <dt>Nome</dt>
                        <dd th:text="*{model}"></dd>
                        <dt>Foto</dt>
						<dd>
                            <img th:src="${auto.foto}" class="img-fluid" alt="Responsive image">
						</dd>                                     
                    </dl>
                </div>
                <div class="col-4">
                    <dl>
                        <dt>Alimentazione</dt>
                        <dd th:text="*{fuel}"></dd>
                        <dt>Descrizione</dt>
                        <dd th:text="*{description}"></dd>
                        <dt>Prezzo</dt>
                        <dd th:text ="*{price} +'€ mensili'"></dd>
                    </dl>
                </div>
            </div>
            <div class="col-8">
                    <h3>Offerte</h3>
                    <a class ="btn btn-outline-primary" th:href="@{|/offers/create/${auto.id}|}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    Nuova Offerta
                    </a>
                    <table class ="table table-striped" th:if="${auto.offers.size()>0}"> <!-- verifichiamo se un'auto ha almeno un'offerta associata-->
                        <thead>
                            <tr>
                                <td>Data di inizio dell'offerta</td>
                                <td>Data di fine dell'offerta</td>
                                <td> Note </td>
                                <td> Descrizione </td>
                                <td></td> <!-- colonna per la modifica-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="offer : ${auto.offers}">
                                <td th:text = "${offer.offerStarDate}"></td>
                                <td th:text = "${offer.offerEnDate}"></td>
                                <td th:text = "${offer.note}"></td>
                                <td th:text = "${offer.descrizione}"></td>
                                <td>
                                    <a class="btn btn-outline-primary" th:href="@{|/offers/create/${auto.id}|}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div th:unless="${auto.offers.size() > 0}">
                        <div class ="alert alert-primary">
                            Non ci sono offerte per questa auto
                        </div>
                    </div>    

        </div>           
        <div class = "container" th:if="${empty}">
            <h1>Vettura non trovata</h1>
        </div> 
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>